@import "../_coolors";

footer {
    position: relative;
    margin-top: 100px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;

    .button {
        padding: 17px 0;
        width: 200px;
    }
}