@import "../_coolors";

.element.page-title {

 	width: 100%;
	display: flex;
	align-items: center;

	.title {
	    flex-shrink: 0;
	    font-size: 3em;
	    margin: 0 20px;

		a {
		    color: black;
		 
	  	}
	}

	span {
	    height: 3px;
	    flex: 1;
	    background-color: #707070;
	}
}

@media screen and (max-width: 576px) {
	.element.page-title .title {
		font-size: 2em;
	}
}