<div class="container">
    <div class="row theme-box">
            <% @themes.each do |theme| %>
            
                <div class="row-md-6 col-sm-4  theme-item">
                    <%= image_tag theme.image %>    
                    <p class="theme-title text subtitle"><%= theme.title %></p>
                    <%= link_to 'VOIR'.html_safe, theme, class: "button black-button"%>
                    
                </div>

            <% end %>
    </div>
</div>