<div class="element page-title">
    <span></span>
    <h2 class="text title">Nouvelle Oeuvre</h2>
    <span></span>
</div>

<div class="container">
    <%= render 'form', theme: @art %>
</div>

<footer> 
    <%= link_to 'RETOUR'.html_safe , root_path, class: "button white-button"%>
</footer>