/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import "_coolors";

 body {
  background-color: $light;
  color: $dark;
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.element {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.black-box {
	background-color: $black;
	color: $white;
	text-align: center;
}

.image-box {
	position: relative;
	object-fit: cover;

	img {
		width: 100%;
	}
}

.text {
	margin: 0;
	line-height: 1em;

	&.black-text {
		color: $black;
	}
	&.white-text {
		color: $white;
	}
}


.button {
	display: inline-block;
	box-shadow: none;
	text-decoration: none;
	border: none;
	font-weight: 2em;

	text-align: center;
	padding: 10px 0;
	width: 150px;
  
	&.black-button {
	  background-color: black;
	  color: white;
	}
	
	&.white-button {
	  background-color: white;
	  color: black;
	}
	
}

.edit-box {
    text-align: center;
    a {
        color: black;
        text-decoration: underline;
    }
}


@import "./elements/menu.scss";
@import "./elements/footer.scss";
@import "./elements/page-title.scss";


  