// Place all the styles related to the themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.theme-item {
    padding: 20px;
    text-align: center;
 

    .theme-title {
        margin: 0!important;
        padding: 10px;
    }

    img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    
    .button {
        display: block;
        width: 150px;
        height: 40px;
        margin: 0 auto;
    }
}

.theme-create-item {
    padding: 20px;

    & .black-box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 350px;
        width: 100%;

        &:hover svg{
            
            height: 100px;
            width: 100px;
        }

        svg {
            height: 80px;
            width: 80px;
            transition-duration: 0.2s;

            path {
                fill: white;
            }
        }

        p {
            position: absolute;
            bottom: 20px;
            color: white;
        }
    }

}

.theme-description {
    font-size: 1.5em;
    padding: 40px 0;
    text-align: center;
}

.art {

    * {
        margin: 0;
    }
    img {
        padding-top: 25px;
        box-sizing: border-box;
        width: 100%;
    }

    padding: 2px 20px;

    .art-title {
        font-size: 2em;
    }
}
